<!DOCTYPE html>
        {% block head %}
            <head>
                <meta charset="UTF-8" />
                <title>{% block title %}Welcome!{% endblock %}</title>
                {% block stylesheets %}
                    <link rel="stylesheet" href="{{ asset('assets/vendor/bulma/css/bulma.css') }}">
                    <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}">
                {% endblock %}
                <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
                <style>
                    .hero.is-success { background:#ffdd57 }
                    .hero.is-primary{ background: #363636; color:#CCC}
                    .hero.is-success .tabs.is-boxed a, .hero.is-success .tabs.is-toggle a {
                        color: #363636;
                    }
                    .hero.is-success a.nav-item, .hero.is-success .nav-item a:not(.button) {
                        color: #4a4a4a;
                    }
                </style>
            </head>
        {% endblock %}
    <body>
    <section class="hero is-success is-small">
        {% block nav_bar %}
        <!-- Hero header: will stick at the top -->
        <div class="hero-head">
            <header class="nav">
                <div class="container">
                    <div class="nav-left">
                        <a class="nav-item" href=" {{ path('homepage') }}">
                            Site+
                        </a>
                    </div>
                        <span class="nav-toggle">
                          <span></span>
                          <span></span>
                          <span></span>
                        </span>
                    <div class="nav-right nav-menu">
                        {#<a class="nav-item is-active">#}
                            {#{{ path('homepage') }} Home#}
                        {#</a>#}
                        {#<a class="nav-item">#}
                            {#{{ path('fos_user_security_login') }}#}
                        {#</a>#}
                        {#<a class="nav-item">#}
                            {#{{ path('fos_user_registration_register') }}#}
                        {#</a>#}

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                            <a  class="nav-item" href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                            <a  class="nav-item" href="{{ path('post_announce') }}">
                               Add
                            </a>

                        {% else %}
                            <a class="nav-item" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                            <a class="nav-item" href="{{ path('fos_user_registration_register') }}">Register</a>
                        {% endif %}

                          <span class="nav-item">
                            <a class="button is-success is-inverted" href="{{ path('post_announce') }}">
                              <span class="icon">
                                <i class="fa fa-plus-square"></i>
                              </span>
                                <span>Insert Announce</span>
                            </a>
                          </span>
                    </div>
                </div>
            </header>
        </div>

        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Primary title
                    </h1>
                    <h2 class="subtitle">
                        Primary subtitle
                    </h2>
                </div>
            </div>
        </section>

        <!-- Hero footer: will stick at the bottom -->
        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <ul>
                        <li class="is-active"><a>Overview</a></li>
                        <li><a>Modifiers</a></li>
                        <li><a>Grid</a></li>
                        <li><a>Elements</a></li>
                        <li><a>Components</a></li>
                        <li><a>Layout</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        {% endblock %}
    </section>


<div class="container">
    <div class="columns">
        <div class="column is-one-quarter">
            {% block sidebar %}
                <aside class="menu">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><a>Dashboard</a></li>
                        <li><a>Customers</a></li>
                    </ul>
                    <p class="menu-label">
                        Administration
                    </p>
                    <ul class="menu-list">
                        <li><a>Team Settings</a></li>
                        <li>
                            <a class="is-active">Manage Your Team</a>
                            <ul>
                                <li><a>Members</a></li>
                                <li><a>Plugins</a></li>
                                <li><a>Add a member</a></li>
                            </ul>
                        </li>
                        <li><a>Invitations</a></li>
                        <li><a>Cloud Storage Environment Settings</a></li>
                        <li><a>Authentication</a></li>
                    </ul>
                    <p class="menu-label">
                        Transactions
                    </p>
                    <ul class="menu-list">
                        <li><a>Payments</a></li>
                        <li><a>Transfers</a></li>
                        <li><a>Balance</a></li>
                    </ul>
                </aside>
            {% endblock %}
        </div>

        <div class="column">
            {% block main_content %}
               
            {% endblock %}
        </div>
    </div>
</div>

{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                    is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
                </p>
                <p>
                    <a class="icon" href="https://github.com/jgthms/bulma">
                        <i class="fa fa-github"></i>
                    </a>
                </p>
            </div>
        </div>
    </footer>
{% endblock %}
    </body>
</html>