{% extends "::base.html.twig" %}

{% block title %}RentBundle:Pages:post{% endblock %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th><abbr title="Position">announce</abbr></th>
            <th>adress</th>
            <th><abbr title="Played">locality</abbr></th>
            <th><abbr title="Won">price</abbr></th>
            <th><abbr title="Drawn">rooms</abbr></th>
            <th><abbr title="Lost">L</abbr></th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <th><a href="{{ path('show_announce', {id: post.id, slug: post.slug}) }}">{{ post.title }}</a></th>
                <th>{{ post.address }}</th>
                <th>{{ post.housenumber }}</th>
                <th>CHF {{ post.price }}</th>
                <th>CHF {{ post.rooms }}</th>
                <th>CHF {{ post.address }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{#    <label class="label">Name</label>
    <p class="control">
        <input class="input" type="text" placeholder="Text input">
    </p>
    <label class="label">Username</label>
    <p class="control has-icon has-icon-right">
        <input class="input is-success" type="text" placeholder="Text input" value="bulma">
  <span class="icon is-small">
    <i class="fa fa-check"></i>
  </span>
        <span class="help is-success">This username is available</span>
    </p>
    <label class="label">Email</label>
    <p class="control has-icon has-icon-right">
        <input class="input is-danger" type="text" placeholder="Email input" value="hello@">
  <span class="icon is-small">
    <i class="fa fa-warning"></i>
  </span>
        <span class="help is-danger">This email is invalid</span>
    </p>
    <label class="label">Subject</label>
    <p class="control">
  <span class="select">
    <select>
        <option>Select dropdown</option>
        <option>With options</option>
    </select>
  </span>
    </p>
    <label class="label">Message</label>
    <p class="control">
        <textarea class="textarea" placeholder="Textarea"></textarea>
    </p>
    <p class="control">
        <label class="checkbox">
            <input type="checkbox">
            Remember me
        </label>
    </p>
    <p class="control">
        <label class="radio">
            <input type="radio" name="question">
            Yes
        </label>
        <label class="radio">
            <input type="radio" name="question">
            No
        </label>
    </p>
    <div class="control is-grouped">
        <p class="control">
            <button class="button is-primary">Submit</button>
        </p>
        <p class="control">
            <button class="button is-link">Cancel</button>
        </p>
    </div>#}
{% endblock %}
