{% extends "::base.html.twig" %}

{% block title %}RentBundle:Pages:index{% endblock %}

{% block body %}

    <br/>

    <br/>
    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">{{ ad.title }}</p>
                <p class="title">3,456</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Address</p>
                <p class="title">{{ ad.address }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Price</p>
                <p class="title">{{ ad.price }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Tel</p>
                <p class="title">{{ ad.tel }}</p>
            </div>
        </div>
    </nav>

    <a href="{{ path('edit_announce', {'id': ad.id}) }}">Edit</a>
{% endblock %}
